# Ambiente virtual
env/
venv/
ENV/
*.pyc
__pycache__/

# Arquivos de log
*.log

# Banco de dados local
db.sqlite3

# Configurações do sistema
*.swp
*.swo
*.bak

# Diretórios do Django
/staticfiles/
/media/
/*.sqlite3

# VSCode
.vscode/

# PyCharm
.idea/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos de migração (opcional)
*/migrations/*.py
!*/migrations/__init__.py
